{% extends 'base-front.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="style.css">

   {% endblock %}

{% block body %}
<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row" >
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>text here</p>
						<h1>TOP Coaches</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


			<div class="row">
			 {% for c in topcoach %}

				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item"  >
						<div class="product-image">
				<img src="{{ asset('uploads/articles/' ~ c.image ) }}" alt="" width="200" height="200">

						</div>
                         <td>{{ c.nom }}</td>
						<p class="product-price"><span>    
						 <td>{{ c.prenom }}</td></span> 
						   <td>{{ c.moyenne|number_format(2)}}</td></p>
					</div>
				</div>
				                        {% endfor %}

                	</div>
				

                        {% endblock %}


