
{% extends 'base-front.html.twig' %}


{% block body %}
<div class="breadcrumb-section breadcrumb-bg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Join Bour la forme to make your life easier</p>
                        <h1>Liste des clubs</h1>
                    </div>
                </div>
            </div>
        </div>
</div>
                            {% for c in club %}
							<div class="testimonila_inner">
				<img src="{{ asset('uploads/articles/' ~ c.image ) }}" alt="" width="170" height="170"></a>
								<h2 class="helina_text">{{c.nom}}</h2>
                                <a class="btn btn-raised btn-primary btn-round waves-effect"  href="{{ path ('reclamer_club',{'id':c.id}) }}"><i class="btn btn-raised btn-primary btn-round waves-effect"></i>   Réclamer</a>
							</div>
                            {% endfor %}
						</div>
						
						
					</div>


					{% endblock %}
