{% extends 'base-front.html.twig' %}


{% block body %}
<div class="breadcrumb-section breadcrumb-bg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Join Bour la forme to make your life easier</p>
                        <h1>Ajouter une reclamation</h1>
                    </div>
                </div>
            </div>
        </div>
</div>

  <!-- header section end  -->
  <!-- contact section start -->  
    <div class="layout_padding contact_section">
      <div class="container">
        <div class="contact_section_inner">
          <div class="contact_main">
            <h1 class="contact_text">Veuillez choisir pour reclamer</h1>
            <div class="input_main">
              
            <div class="massage_box">
              <div class="row">
                
                <div class="col-sm-4">
                  <a href="/afficher_coach" class="send_bt">Coach</a>
                </div>
                <div class="col-sm-4">
                  <a href="/afficher_club" class="send_bt">Club</a>
                </div>
                <div class="col-sm-4">
                  <a href="/afficher_produit" class="send_bt">Produit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock  %}
