{% extends "base-front.html.twig" %} 
{% block title %}delete{% endblock %}  
{% block body %}
      {{form_start(f,{'attr':{'novalidate':'novalidate'} })}}

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Get 24/7 Support</p>
						<h1>Mes reclamations</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
        
                    <div class="body">
                        
                            <div class="form-group form-float">
                             {{ form_widget(f.message, {'attr': {'class': 'form-control','placeholder': 'message'}}) }}
                        	<span class="text-danger" >{{ form_errors(f.message,{'attr': {'class':'text-danger'}}) }}</span>

						    </div>
	                        
                            <button class="btn btn-raised btn-primary btn-round waves-effect" type="submit">SUBMIT</button>
                            {{ form_end(f) }}    
                    </div>
                </div>
            </div>
        </div>
       
{% endblock %}