{% extends 'base-front.html.twig' %}

{% block title %}wait for approval{% endblock %}


{% block body %}
    <div class="breadcrumb-section breadcrumb-bg" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <p>Join Bour la forme to make your life easier</p>
                            <h1>Attente de confirmation</h1>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
                        <h4>Your account has not been approved please wait for the admin to approve your account</h4>
                        <p>Please check again later </p>
                </div>
            </div>   

        </div>
    </div>



{% endblock %}